<!DOCTYPE html>

<html>
    <head>
        <title>weather</title>
        <link rel="icon" href="/img/logo@2x-blue-9fc5aedcea9d0af453a9da8b907222806d2934c5863d8be906fca70394bd3cbf.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>use this site to get your weather!</p>

            <form>
                <input placeholder="location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

        {{>footer}}

        <script src="/js/script.js" ></script>
    </body>
</html>